
*{
  margin:0;
  padding:0
}

.App{
  /* display: flex;
  align-items: center;
  justify-content: center;
 width:100%; */
 
}

.container{
  border: 1px solid black;
  /* width: 50%;
  height: 90%; */
/* width: 50%;
height: 100%; */

  background-color: white;
  display:flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.sidebar{
  flex: 0.3;
  background-color: #202126;
  margin:0;
  color: white;
}

.main-container{
  /* background-color: black; */
  flex: 0.7;
}

/* .img-conatiner{
  width: 10em;
  color
} */
img{
  width:100%;
  height: 20%;
  object-fit: contain;
}
.heading{

}
.heading h2{
  font-size: 1em;
  text-align: center;
  margin-top: 15px;
  font-weight:100;
}

hr{
  /* color: !important; */
  border:1px solid  #d9be36;

}

.content{
  font-size: 0.5em;
  text-align: center;
  margin-top: 15px;
  font-weight:100;
}

.contact-container{
  
}

.phone-header, .email-header, .website-header,.address-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 0.5em !important;
  background-color: #d9d9d923;
}
.phone-content,.email-content, .website-content,.address-content {
  font-size: 0.25em;
 margin-left: 20px;
}

.color-box{
  background-color: #d9be36;
  width: 2em;
  height: 1em;
}

.contact-container{
  display: flex;
  flex-direction: column;
  gap:10px;
  
}

.reference-container{
  margin-bottom: 15px;
}


.desc-conatiner{
  background-color: #d9be36;
  MARGIN-TOP: 4em;
  padding: 11px;
  height: 4em;
}

h5{
  font-weight: 600;
}

.about-container{
  margin-top:10px;
  padding: 10px;
  margin-left: 10px;
}

.about-container p{
  /* color: #d9d9d900; */
  font-size: 0.5em;
  margin-top: 5px;
}

.heading hr{
margin-left: 2em;
margin-top: 5px;
}

.content p {
  text-align: left !important;
  margin-left: 5em !important;
}

.reference-container h4{
  text-align: left !important;
  margin-left: 5em !important;
}

.education-conatiner h4{
  text-align: left !important;
  margin-left: 5em !important;
}



@media only screen and (min-width: 720px) {
  .App{
    display: flex;
    align-items: center;
    justify-content: center;
   width:100%;
  height: 100%;
   
  }
  .container{
    border: 1px solid black;
    /* width: 50%;
    height: 90%; */
  width: 50%;
  height: 98vh;
  
  
    
  }
}
@media only screen and (max-width: 678px) {
  .containermain {
  
  
    /* backgrou
    
    nd-color: #d9d9d9; */
  }
}
